{% extends "base.html" %}
{% block page_title %}
  Cadastrar Nova Peça
{% endblock page_title %}
{% block content %}
  <h1>Peças</h1>
  <ul>
      {% if crudparts_list %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Equipamento</th>
                <th scope"col">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for itens in crudparts_list %}
              <tr>
                <th scope="row">{{itens.pk}}</th>
                <td>{{itens.description}}</td>
                <td>{{itens.equipamento}}</td>
                <td>
                  <a href="#" class="btn btn-outline-primary btn-sm">Concluir</a>
                  <a href="#" class="btn btn-outline-danger btn-sm">Excluir</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <a href= {% url "crudparts_form" %} class="btn btn-outline-danger btn-sm">Novo</a>
      {% else %}
      <p>Não há peças cadrastradas</p>
      {% endif %}
{% endblock content %}
   