{% extends "base.html" %}

{% block page_title %}
  Peças Cadastradas
{% endblock page_title %}

{% block content %}
  {% if crudparts.pk %}
    <h1> Editar Peça</h1>
  {% else %}
    <h1>Cadastrar novas Peças</h1>
  {% endif %}
  <h1>VOLTAR NESSA AULA PARA ESTILIZR OS FORMS, UTILIZAR O CRISPY</h1>
  <a href="https://www.youtube.com/watch?v=-DW6rQ5z38A&list=PLZ5WLsqE1WPGPA0Z0H1XB8P6UwgTHOSaf&index=5">Link aula</a>

  <form method="POST">
    {% csrf_token %}
    {{ form }}

    <button type="submit">Salvar</button>
  </form>
{% endblock content %}